body{
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
}
.hero-banner{
    background-image: url(../imagens/bg-3.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
}

.hero-content {
    text-align: center;
    color: white;
    margin-top: 200px;
}

.hero-content h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}